body {
  background-color: linear-gradient(
    111.5deg,
    rgb(228, 247, 255, 0.5) 21.9%,
    rgb(255, 216, 194, 0.5) 92.2%
  );
  color: #000;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
  font-weight: 500;
  margin-top: -10px;
}
h3 {
  font-weight: 200;
}
ul {
  list-style: none;
  display: block;
  margin-top: 15px;
}
.day1,
.day2,
.day3,
.day4,
.day5 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.day1-temp,
.day2-temp,
.day3-temp,
.day4-temp,
.day5-temp {
  font-size: 18px;
  font-weight: 200;
  padding-top: 15px;
}
.footer {
  position: relative;
  bottom: 75px;
  left: 280px;
}
.fullpage {
  background: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
  border-radius: 8px;
  margin: 80px auto;
  max-width: 700px;
  padding: 30px;
}
.main-weather-info {
  padding: 22px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  position: relative;
  left: 24px;
  top: -15px;
  transform: scale(4);
}

.material-symbols-outlined.details-icons {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  position: relative;
  left: -5px;
  top: 4px;
  transform: scale(1);
}
.material-symbols-outlined.forecast-icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  position: relative;
  left: -0.5px;
  top: 4px;
  transform: scale(2);
}

.weather-details {
  font-size: 20px;
  font-weight: 600;
}
.weather-forecast {
  text-align: center;
  color: #757882;
  margin-top: 40px;
  margin-bottom: 20px;
}
